.main{
    
    height: 600px;
    position: relative;
    overflow: hidden;
    background: linear-gradient(to right, #66ccff 0%, #ff99cc 100%)
}
.nav-links ul li a{
    text-align: center;
    color: white;
    
}
.nav-links {
   text-align: right;
}
.nav-links ul li{
 list-style: none;
 display: inline-block;
 margin: 0px 20px;
}
.logo img {
    width: 150px;
    height: 100px;
    
}
.logo{
    flex-basis: 20%;
}
.flip img{
    width:150px ;
    height: 150px;
    padding-left: 50px;
    padding-top: 100px;
    padding-right: 100px;
}
.flip h4{
    color: #fff;
    padding-left: 40px;
}
.second img{
    width:150px ;
    height: 150px;
    padding-left: 300px;
    padding-top: 93px;
    padding-right: 100px;
}
.second h4{
    color: #fff;
    padding-left: 290px;
}
.footer{
    background-color: grey;
    height: 50px;
}
.footer img{
    height: 25px;
    width: 25px;
    padding-left: 100px;
    padding-top: 10px;
}
.footer p{
text-align: center;
}

.nav-links button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}
.oneplus img{
    width:250px ;
    height: 250px;
    padding-left: 800px;
    padding-top: 93px;
    padding-right: 100px;
    border-radius: 10%;
    margin: 10px auto 0;
    
}
.oneplus h4{
    color: white;
    padding-left: 800px;
}